/* Change the framework here! */
html,
body {
  width: 100vw;
  height: 100vh;
}
.row,
.router-wrap,
.router-wrap .col {
  margin: 0px !important;
  padding: 0px !important;
}
.router-wrap {
  width: 100%;
  height: 100%;
  padding-top: 7vh !important;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.select-dropdown {
  width: 75px !important; /* width of dropdown */
  border-bottom: none !important;
  margin: 0px !important;
}
#luggage .select-wrapper input {
  width: 100% !important;
  color: #6e6e6e !important;
}
#luggage .select-wrapper {
  border-bottom: 1px solid #9f9f9f;
  margin-bottom: 15px !important;
}
#luggage .select-dropdown {
  width: 100% !important;
}
.search .select-dropdown {
  width: 80px !important; /* width of dropdown duplicate */
}
.search-wrap .input-field {
  margin: 0px !important;
  display: inline-block !important;
}
.search-wrap .row {
  width: 100% !important;
}
.date {
  margin: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.select-wrapper > input {
  font-size: 16px !important; /* font size of select text */
}
.arrow {
  position: relative;
  font-size: 13px;
}
.search .arrow {
  display: none !important;
}
.dropdown-content li > span {
  color: #ff6600 !important;
  font-size: 16px !important; /* font size of content inside ul */
  padding-right: 0px !important;
  padding-left: 10px !important;
}
.input-field label {
  transition: 0.3s ease-in-out !important;
}

.login-modal input {
  font-size: 20px !important;
}

@media only screen and (max-width: 800px) {
  .router-wrap {
    height: calc(100% - 8vh);
  }
}
